/* Main CSS File - Imports all modules */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/navigation.css');
@import url('css/hero.css');
@import url('css/buttons.css');
@import url('css/projects.css');
@import url('css/about.css');
@import url('css/contact.css');
@import url('css/footer.css');
@import url('css/gallery.css');
@import url('css/responsive.css');
